@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Poppins:wght@300;500&display=swap");
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  background-color: rgb(28, 28, 30);
}
a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: rgb(64, 200, 224);
}

a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: rgb(64, 200, 224);
    transition: width .3s;
}
a:hover::after {
    width: 100%;
}